# ---- Python / Django ----
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual environment
venv/
.env
*.env

# Django specific
media/
staticfiles/

# ---- Node / React ----
node_modules/
dist/
build/
.cache/
*.log

# Vite cache
.vite/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDE / Editor ----
.vscode/
.idea/

# ---- Others ----
*.tmp
